h1 {
    color: blue;
    background-color: gold;
    text-decoration-line: underline;
}

h2 {
    color: purple;
    font-weight: bold;
    border: 1px solid orange;
}

p {
    width: 50%;
    height: 200px;
    background-color: grey;
    border: 1px solid black;
    color: white;
}

footer {
    background-color: black;
    border: 1px solid lightgreen;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}